.pokemon-card {
    background-color: #009b7d;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 24px;
    max-width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pokemon-image {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  
  .pokemon-info {
    background-color: #0a5e4a;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
  }
  
  .pokemon-name {
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-size: 1.5rem;
    color: #ffff00;
    margin-bottom: 8px;
  }
  
  .pokemon-type {
    color: #fcf75e; 
    margin-bottom: 8px;
  }
  
  /* Alternativa per a tipus Venen:
  .pokemon-type.venen {
    color: #9c27b0; // Morat
  }
  */
  
  .pokemon-description {
    font-size: 0.9rem;
    color: #f8f48b;
  }
  